In [22]:
import numpy as np
import pandas as pd
from datetime import *

In [23]:
def fix_dates(d, wrong):
    if d in wrong:
        return d - timedelta(days=1)
    else:
        return d

def fix_week(year):
    
    sched_path = 'data/schedules/schedule{}.csv'.format(year)
    sched_data = pd.read_csv(sched_path)
    sched_data['WeekDate'] = pd.to_datetime(sched_data['Date']).dt.date
    sched = sched_data[['Week','WeekDate']].drop_duplicates()
    
    scores_path = 'data/scores_wrong/NCAAAllScores{}.csv'.format(year)
    scores_data = pd.read_csv(scores_path)
    scores_data['Start'] = pd.to_datetime(scores_data['Start'])
    scores_data['WrongDate'] = scores_data['Start'].dt.date
    scores_data.drop(['Week'], axis=1, inplace=True)
    scores_data.drop(scores_data.loc[scores_data['WrongDate'] > (sched_data['WeekDate'].max() + timedelta(days=1))].index, axis=0, inplace=True)
    scores_data['Spread'] = scores_data['HomeFinal'] - scores_data['VisFinal']   
    
    wrong_dates = np.setdiff1d(scores_data['WrongDate'].drop_duplicates().tolist(),sched['WeekDate'].drop_duplicates().tolist())
    
    scores_data['WeekDate'] = scores_data['WrongDate'].apply(lambda x: fix_dates(x, wrong_dates))
    scores_data.drop('WrongDate', axis=1, inplace=True)
    scores_clean = pd.merge(scores_data, sched[['WeekDate','Week']], on='WeekDate',how='left')
    return scores_data, sched_data

In [24]:
scores_2013, sched_2013 = fix_week(2013)

In [10]:

scores_2013.loc[scores_2013['Home']=='BEN']

,Season,Start,Visiter,VisID,Home,HomeID,NeutralSite,Home1Q,Home2Q,Home3Q,...,HomeOT,HomeFinal,Vis1Q,Vis2Q,Vis3Q,Vis4Q,VisOT,VisFinal,Spread,WeekDate
188,2013,2013-09-07 16:00:00,MER,2385,BEN,2060,0,0,10.0,7.0,...,NaN,17,7,6.0,3.0,0.0,NaN,16,1,2013-09-07
408,2013,2013-09-08 00:00:00,WHE,396,BEN,2283,0,7,6.0,7.0,...,NaN,27,7,17.0,17.0,7.0,NaN,48,-21,2013-09-07
438,2013,2013-09-13 23:00:00,ASP,2038,BEN,2060,0,0,14.0,0.0,...,NaN,14,7,3.0,10.0,0.0,NaN,20,-6,2013-09-13
710,2013,2013-09-15 00:00:00,NOR,75,BEN,2283,0,10,7.0,7.0,...,NaN,36,0,0.0,10.0,0.0,NaN,10,26,2013-09-14
733,2013,2013-09-20 23:00:00,LIU,2089,BEN,2060,0,3,7.0,7.0,...,NaN,38,7,0.0,10.0,7.0,NaN,24,14,2013-09-20
1376,2013,2013-10-05 17:00:00,STA,2830,BEN,2060,0,6,10.0,7.0,...,NaN,32,7,7.0,0.0,13.0,NaN,27,5,2013-10-05
1750,2013,2013-10-12 18:00:00,AUR,2044,BEN,2283,0,14,6.0,6.0,...,NaN,33,3,7.0,7.0,6.0,NaN,23,10,2013-10-12
2061,2013,2013-10-19 18:00:00,AIC,2022,BEN,2060,0,0,7.0,7.0,...,NaN,14,14,0.0,21.0,7.0,NaN,42,-28,2013-10-19
2406,2013,2013-10-26 18:00:00,WIS,2741,BEN,2283,0,0,0.0,14.0,...,6.0,34,6,14.0,0.0,8.0,0.0,28,6,2013-10-26
2729,2013,2013-11-02 18:00:00,SOU,2583,BEN,2060,0,10,7.0,0.0,...,NaN,24,3,7.0,3.0,6.0,NaN,19,5,2013-11-02
3184,2013,2013-11-16 17:00:00,STA,2830,BEN,2060,0,14,28.0,14.0,...,NaN,56,7,13.0,14.0,7.0,NaN,41,15,2013-11-16
3324,2013,2013-11-16 19:00:00,SEFL,267,BEN,2283,0,0,12.0,0.0,...,NaN,12,9,0.0,0.0,6.0,NaN,15,-3,2013-11-16

In [25]:
scores_2013['Home'].append(scores_2013['Visiter']).unique().size

566

In [26]:
scores_2013['HomeID'].append(scores_2013['VisID']).unique().size

714